<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    </head>

  <body>

    <header>
        <h3>Navigation</h3>
        <a href="{{site.baseurl}}">Home</a>
        <br/>
        <a href="{{site.baseurl}}/posts">Posts</a>
        <br/>
        <a href="{{site.baseurl}}/references">References</a>
        <br/>
        <a href="{{site.baseurl}}/links">Useful links + cheatsheets</a>
        <br/>
        <br/>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
