<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
    <header>
        <h3>Navigation</h3>
        <a href="/.">Overview</a>
        <br/>
        <a href="/lectures.html">Lectures</a>
        <br/> 
        <a href="/tutorials.html">Tutorials</a>
        <br/>
        <a href="/assignments.html">Assignments</a>
        <br/>
        <a href="/guidelines.html">Vis Guidelines</a>
        <br/>
        <br/>
    </header>>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer h-card">
      
      </footer>

  </body>

</html>